In [30]:
import pandas as pd

In [31]:
data = pd.read_csv('/home/omraj/Downloads/Social.csv')
temp=data

In [32]:
#data.head(5)

In [33]:
#data.columns

In [34]:
newdata = data[['name','country','data_properties.facebook_followers','data_properties.instagram_followers','data_properties.twitter_followers','data_properties.ppp_country']]

In [35]:
newdata.head(15)

,name,country,data_properties.facebook_followers,data_properties.instagram_followers,data_properties.twitter_followers,data_properties.ppp_country
0,Exeter City F.C.,United Kingdom,47636,10836,57518,42609
1,Columbus Crew SC,United States,0,0,161302,57467
2,Chelsea L.F.C.,United Kingdom,2509088,574057,151333,42609
3,Newport County,United Kingdom,46268,4560,52980,42609
4,Chicago Fire,United States,330064,75019,158313,57467
5,FC Dallas,United States,372754,67761,155375,57467
6,Real Salt Lake,United States,0,70184,150993,57467
7,BC LIONS,Canada,162165,32607,125365,44025
8,Team Penske,NaN,206834,75733,147780,44025
9,Welsh Open,United Kingdom,412351,0,121407,42609
10,Leicester Tigers,United Kingdom,201454,72152,142470,42609
11,Immortals,NaN,160231,93439,136913,42609
12,Doncaster Rovers FC,United Kingdom,134651,11906,136578,42609
13,Charlton Athletic FC,United Kingdom,201423,22121,134286,42609
14,Ireland cricket,United Kingdom,570170,16327,132626,42609

In [36]:
new = newdata[~(newdata == 0).any(axis=1)]

In [37]:
new.head()

,name,country,data_properties.facebook_followers,data_properties.instagram_followers,data_properties.twitter_followers,data_properties.ppp_country
0,Exeter City F.C.,United Kingdom,47636,10836,57518,42609
2,Chelsea L.F.C.,United Kingdom,2509088,574057,151333,42609
3,Newport County,United Kingdom,46268,4560,52980,42609
4,Chicago Fire,United States,330064,75019,158313,57467
5,FC Dallas,United States,372754,67761,155375,57467

In [38]:
new.isnull().sum()

name                                   0
country                                9
data_properties.facebook_followers     0
data_properties.instagram_followers    0
data_properties.twitter_followers      0
data_properties.ppp_country            0
dtype: int64

In [39]:
new.country.fillna('unknown',inplace = True)

/home/omraj/.local/lib/python3.5/site-packages/pandas/core/generic.py:4355: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [40]:
new.isnull().sum()

name                                   0
country                                0
data_properties.facebook_followers     0
data_properties.instagram_followers    0
data_properties.twitter_followers      0
data_properties.ppp_country            0
dtype: int64

In [41]:
ndata = new.rename(columns={'data_properties.facebook_followers': 'fb_followers','data_properties.instagram_followers': 'insta_followers','data_properties.twitter_followers':'twitter_followers','data_properties.ppp_country':'ppp_country'})

In [42]:
ndata.head(5)

,name,country,fb_followers,insta_followers,twitter_followers,ppp_country
0,Exeter City F.C.,United Kingdom,47636,10836,57518,42609
2,Chelsea L.F.C.,United Kingdom,2509088,574057,151333,42609
3,Newport County,United Kingdom,46268,4560,52980,42609
4,Chicago Fire,United States,330064,75019,158313,57467
5,FC Dallas,United States,372754,67761,155375,57467

In [128]:
from sklearn import linear_model
import numpy as np
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import matplotlib.pyplot as plt

In [129]:
x = ndata.drop(['name','country','insta_followers'],axis = 1)
x.head()

   fb_followers  twitter_followers  ppp_country
0         47636              57518        42609
2       2509088             151333        42609
3         46268              52980        42609
4        330064             158313        57467
5        372754             155375        57467

In [130]:
y = ndata.drop(['name','country','fb_followers','twitter_followers','ppp_country'],axis = 1)
y.head()

   insta_followers
0            10836
2           574057
3             4560
4            75019
5            67761

In [142]:
xtrain, xtest, ytrain, ytest =train_test_split(x,y,test_size=0.50)

In [143]:
regressor = LinearRegression()
regressor.fit(xtrain, ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [144]:
y_prediction = regressor.predict(xtest)

In [145]:
#y_prediction

In [146]:
print(np.sqrt(metrics.mean_squared_error(ytest, y_prediction)))

5533826.478538555

In [147]:
print('Variance score: %.2f' % regressor.score(xtest, ytest))

Variance score: 0.71